        @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
         :root {
            --gradient: linear-gradient(to left top, #FFA9BF 25%, #8483FF 75%);
            --gradient-p1: linear-gradient(to left-top, #FFA9BF 35%, #8483FF 65%);
            --gradient-p2: linear-gradient(to left-top, #FFA9BF 45%, #8483FF 55%);
        }
        
        * {
            font-family: 'Fredoka', sans-serif;
            padding: 0;
            margin: 0;
            text-decoration: none;
            list-style: none;
            scroll-behavior: smooth;
            transition: all 500ms ease-out !important;
            -webkit-transition: all 500ms ease-out;
        }
        
        html,
        body,
        section,
        .page {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
            -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
            color: #fff;
            background: var(--gradient) !important;
            overflow: hidden;
        }
        
        .page {
            position: absolute;
        }
        
        #p1 {
            left: 0px;
        }
        
        #p2 {
            left: 100%;
            background: var(--gradient-p1) !important;
        }
        
        #p3 {
            left: 195%;
            background: var(--gradient-p2) !important;
        }
        /* #p4 {
    left: 300%;
    background: deeppink;
} */
        
        .nav ul {
            position: relative;
            z-index: 1;
        }
        
        #home:target .page#p1 {
            transform: translateX(0);
        }
        
        #projects:target .page#p2 {
            transform: translateX(-90%);
        }
        
        #contact:target .page#p3 {
            transform: translateX(-190%);
        }
        
        #t4:target .page#p4 {
            transform: translateX(-290%);
        }
        /* #projects:target .page#p1,
#contact:target .page#p1,
#t4:target .page#p1 {
    background: black;
} */
        
        #projects:target .page#p1 .icon,
        #contact:target .page#p1 .icon,
        #t4:target .page#p1 .icon {
            -webkit-filter: blur(100px);
            filter: blur(100px);
        }
        
        .icon {
            color: #fff;
            font-size: 32px;
            display: block;
        }
        
        ul .icon:hover {
            opacity: 0.6;
        }
        
        #p1 .icon .title {
            margin-left: 25%;
        }
        
        #projects:target ul .icon,
        #contact:target ul .icon,
        #t4:target ul .icon {
            transform: scale(.6);
            transition-delay: .25s;
        }
        
        #projects:target #dos {
            transform: scale(1.2) !important;
        }
        
        #contact:target #tres {
            transform: scale(1.2) !important;
        }
        
        #t4:target #cuatro {
            transform: scale(1.2) !important;
        }
        
        .nav ul {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            height: 280px;
            width: 10%;
            padding: 0;
            text-align: center;
            display: inline-grid;
        }
        /* ul li {
        margin: 10px 0;
    } */
        /* .title,
    .hint {
        display: block;
    } */
        
        .title {
            font-size: 24px;
        }
        
        .hint {
            font-size: 13px;
        }
        
        .page .icon {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 10%;
            left: 0;
            margin: auto;
            margin-top: 50px;
            text-align: center;
            transform: translateX(360%);
            line-height: 1.3;
        }
        /* .page#p1 .icon {
        height: 220px;
    } */
        
        .page#p1 .icon {
            transform: translateX(0) !important;
        }
        
        #projects:target .page#p2 .icon {
            transform: translateX(0) !important;
            transition-delay: 1s;
        }
        
        #contact:target .page#p3 .icon {
            transform: translateX(0) !important;
            transition-delay: 1s;
        }
        
        #t4:target .page#p4 .icon {
            transform: translateX(0) !important;
            transition-delay: 1s;
        }
        
        .img-fluid {
            display: grid;
            place-items: center;
            margin-left: 50%;
            border: 5px solid;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: -30px -20px 20px rgba(227, 135, 255, 0.3), 0px 40px 20px rgba(255, 219, 57, 0.3), 30px -20px 20px rgba(118, 255, 255, 0.22) !important;
        }
        
        .skills {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            margin-left: 8vw;
        }
        
        .skillsM {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            margin-left: 8vw;
        }
        
        .skill,
        .skillM {
            margin: auto;
            width: 20%;
            margin-top: 10vh;
            padding: 20px;
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);
        }
        
        .skillM {
            display: block;
            margin-top: 5vh !important;
        }
        
        .skill:hover,
        .skillM:hover {
            opacity: .5;
        }
        
        #github {
            margin-top: 5vh;
        }

        .card {
            margin-bottom:10px;
        }
        
        .btn {
            border: none;
            border-image-slice: 1;
            text-decoration: none;
            color: #fafafa !important;
            box-shadow: #202020 1px 0 1px;
        }
        
        .btn:hover,
        .btn:focus {
            -webkit-text-fill-color: #fafafa !important;
            box-shadow: #222 1px 0 10px;
            text-decoration: underline;
        }
        
        .img-contact {
            border: 5px solid;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: -30px -20px 20px rgba(227, 135, 255, 0.3), 0px 40px 20px rgba(255, 219, 57, 0.3), 30px -20px 20px rgba(118, 255, 255, 0.22) !important;
        }
        
        .social-media,
        .mail {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 100px;
            margin-top: 3vh;
        }
        
        .social-media a i {
            margin-left: 80px;
            color: #fafafa;
        }
        
        .social-media a:hover,
        .mail a:hover {
            opacity: .5;
        }
        
        .mail a i {
            color: #fafafa;
        }
        
        .mobile {
            display: none;
        }
        /* Media Query for Mobile Devices */
        
        @media (max-width: 900px) {
            .body {
                display: none;
            }
            section {
                display: block !important;
                height: 100vh;
            }
            html,
            body,
            div {
                overflow: visible !important;
            }
            .mobile {
                display: block;
                text-decoration: none !important;
                color: #fafafa;
                overflow: visible !important;
            }
            .img-fluid {
                display: block;
                margin-left: auto;
                margin-right: auto;
                border: 5px solid;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                overflow: hidden;
                box-shadow: -30px -20px 20px rgba(227, 135, 255, 0.3), 0px 40px 20px rgba(255, 219, 57, 0.3), 30px -20px 20px rgba(118, 255, 255, 0.22) !important;
            }
            .home ul {
                padding: 0;
            }
            .home ul li {
                border: 3px solid;
                margin-bottom: 10px;
                padding: 10px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(255, 255, 255, 0.3);
            }
            .btn {
                color: #fafafa !important;
            }
            .social-media {
                display: block;
                text-decoration: none !important;
            }
            .social-media a {
                display: block;
                text-decoration: none !important;
                font-size: 23px;
                color: #fafafa;
            }
            .social-media a i {
                display: block;
                margin-left: auto;
                margin-right: auto;
                text-decoration: none !important;
            }
            .social-media a:hover {
                color: var(--gradient);
            }
        }

        .cv a {
            text-decoration: none;
            color: #fafafa;
        }

        .cv a:hover{
            text-decoration: none;
            color: #fafafa;
        }
